.new-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* height: 90vh; */
    margin-bottom: 100px;
    margin-top: 30px;
    
}
.new-collection h1{
    color: black;
    font-size: 50px;
    font-weight: 600;
}
.new-collection hr{
    height: 3px;
    width: 10%;
    background: grey;
    border-radius: 20px;
}
.collections{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}