.offers{
    display: flex;
    width: 65%;
    height: 65vh;
    background: linear-gradient(180deg, pink, wheat 60%);
    padding: 0 200px;
    margin-bottom: 150px;
    margin: auto;
}
.offers-left{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: black;
    font-size: 60px;
    font-weight: 600;
}
.offers-left p{
    color: black;
    font-size: 22px;
    font-weight: 500;
}
.offers-left button{
    margin-top: 15px;
    width: 280px;
    height: 70px;
    border-radius: 35px;
    background: red;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.offers-right{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}